.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-bottom: 15px;
}
.aside > nav {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 600;
}

.aside > nav > a {
  display: inline-block;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: #2e7ebd 0 1px 2px;
  text-decoration: none;
  text-align: center;
  line-height: 1.1;
  white-space: pre-line;
  padding: 0.7em 1.1em;
  border: 1px solid;
  border-color: #60a3d8 #2970a9 #2970a9 #60a3d8;
  border-radius: 6px;
  outline: none;
  background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
  box-shadow: inset rgba(255, 255, 255, 0.5) 1px 1px;
}

.aside > nav > a:hover {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(#9dc7e7, #74afdd 50%, #378bce);
}
.aside > nav > a:focus-visible {
  color: rgb(0, 0, 0);
  background-image: linear-gradient(#9dc7e7, #74afdd 50%, #378bce);
}
.aside > nav > a:active {
  color: rgb(255, 255, 255);
  border-color: #2970a9;
  background-image: linear-gradient(#5796c8, #6aa2ce);
  box-shadow: none;
}

@media (max-width: 768px) {
  .aside {
    display: none;
  }
}
